################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/*
*/packages/*
*.dll
*.pdb
**/bin
**/obj
*.user
*.suo
*.ncrunch*
*.cache
